<div class="row chat">

    <div class="sixteen wide column reply">
        <ul id="msg-list">
            <li></li>
        </ul>
    </div>
    <div class="sixteen wide column form">
        
            <input type="text" class="button" name="text" placeholder="réponse" id="msg">
            <input type="button" class="button" id="send" value="Envoyer">

    </div>
</div>
