<!--TIME AND WORD-->
    <div class="row header">
        <div class="ten wide column">
           <h3>Mot : <span id="instructions"></span></h3>
        </div>
        <div class="six wide column time">
               <h3>
                  <i class="alarm icon" aria-hidden="true"></i>
                  <span class="countDown"></span>
                </h3>
        </div>

    </div>
