<div class="countDown">
  <div id="timeRemainDiv">
    <div class="time-title">
      <p>Temps restant :</p>
      <h3>1:30</h3>
    </div>
  </div>
</div>
<h4>Bienvenue sur FootDraw <span id="instructions"></span></h4>
