<div class="tools">

<input type="hidden" id="paint-color-value" value="#000">
<input type="hidden" id="paint-size-value" value="3">

<a nohref  data-size='3' style='background: #ccc' class="paint-size">Small</a>
<a nohref  data-size='5'  style='background: #ccc' class="paint-size">Normal</a>
<a nohref  data-size='7'  style='background: #ccc' class="paint-size">Large</a>
</div>
