<div class = "row colors">
  <div class ="tools">
    <input type ="hidden" id="paint-color-value" value="#000">
    <input type ="hidden" id="paint-size-value" value="4">
    <ul id="colors">

    </ul>
  </div>
</div>
