
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Connexion</title>
    <link href="../node_modules/bootflat/css/bootstrap.min.css" rel="stylesheet">
    <link href="../node_modules/bootflat/css/site.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  </head>
  <body class="landpage-image">


    <div class="container">

<div class="row">
  <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="jumbotron opacity-div">
          <div class="jumbotron-contents">
          <h1>Règles du jeu :</h1>
          <p>L'auteur dessine quelque chose sur le paperboard en fonction du mot imposé.</p>
          <p>Les participants doivent découvrir le sujet du dit dessin.</p>
          <p>Le participant ayant trouvé la réponse le plus rapidement gagne la partie et un point est attribué à ce dernier.</p>
          <p>Le nouvel auteur est désigné aléatoirement.</p>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
</div>



<div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default opacity-div">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock"></span> Connexion</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="username" placeholder="Nom d'utilisateur" required>
                        </div>
                    </div>
                    <div class="form-group last">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-success btn-sm btn-block">
                                Se connecter</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../node_modules/jquery/dist/jquery.min.js"><\/script>')</script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
