<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Game</title>
		<link href="../node_modules/bootflat/css/bootstrap.min.css" rel="stylesheet">
		<link href="../node_modules/bootflat/css/site.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../assets/css/chat.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
	</head>
	<body class="landpage-image">
		<div class="container-fluid">
		<div class="row">
      <div class="col-md-1 col-md-2 col-xs-3  col-sm-2">
        <img src="../assets/img/logo.png" alr-"logo"/>
      </div>
			<div class="col-md-offset-4 col-md-2 col-xs-6  col-sm-2">
				<div class="pricing">
					<ul>
						<li class="unit price-success active">
							<div class="price-title">
								<h3>1:30</h3>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-1">
					<div class="color-wrap clearfix">
						<div class="color-picker col-md-2 col-xs-2  col-sm-2">
							<div class="color-item" style="background-color:#000000;">
							</div>
						</div>
						<div class="color-picker col-md-2">
							<div class="color-item" style="background-color:#C91F37;">
							</div>
						</div>
						<div class="color-picker col-md-2">
							<div class="color-item" style="background-color:#006442;">
							</div>
						</div>
						<div class="color-picker col-md-2">
							<div class="color-item" style="background-color:#4B77BE;">
							</div>
						</div>
						<div class="color-picker col-md-2">
							<div class="color-item" style="background-color:#F9690E;">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-11">
					<canvas id="canvas_container"></canvas>
                <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#modal-time">Temps imparti modal</button>
				</div>
			</div>
		</div>
		<div class="col-md-3">
      <div class="row">

      <div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Chat
				</div>
				<div class="panel-body panel-primary">
					<ul class="chat">
						<li class="left clearfix">
							<span class="chat-img pull-left">
							</span>
							<div class="chat-body clearfix">
								<div class="header">
									<strong class="primary-font">Pseudo 2</strong> <small class="pull-right text-muted">
									<span class="glyphicon glyphicon-time"></span>12 mins ago</small>
								</div>
								<p>
									ballon
								</p>
							</div>
						</li>
						<li class="left clearfix">
							<span class="chat-img pull-left">
							</span>
							<div class="chat-body clearfix">
								<div class="header">
									<strong class="primary-font">Pseudo 3</strong> <small class="pull-right text-muted">
									<span class="glyphicon glyphicon-time"></span>14 mins ago</small>
								</div>
								<p>
									carton rouge
								</p>
							</div>
						</li>
						<li class="left clearfix">
							<span class="chat-img pull-left">
							</span>
							<div class="chat-body clearfix">
								<div class="header">
									<strong class="primary-font">Pseudo 3</strong> <small class="pull-right text-muted">
									<span class="glyphicon glyphicon-time"></span>18 mins ago</small>
								</div>
								<p>
									cage
								</p>
							</div>
						</li>
						<li class="left clearfix">
							<span class="chat-img pull-left">
							</span>
							<div class="chat-body clearfix">
								<div class="header">
									<strong class="primary-font">Pseudo long 4</strong> <small class="pull-right text-muted">
									<span class="glyphicon glyphicon-time"></span>22 mins ago</small>
								</div>
								<p>
									maison
								</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="panel-footer">
					<div class="input-group">
						<input id="btn-input" type="text" class="form-control input-sm" placeholder="Tapez votre réponse ici..." />
						<span class="input-group-btn">
						<button class="btn btn-warning btn-sm" id="btn-chat">
						Envoyer</button>
						</span>
					</div>
				</div>
			</div>
    </div>
    <div class="col-md-12">
  <div class="list-group">
    <a href="#" class="list-group-item active">Participants</a>
    <a href="#" class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="badge badge-primary ">38 pts</span> Pseudo 1</a>
    <a href="#" class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="badge badge-primary">32 pts</span> Pseudo 2</a>
    <a href="#" class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="badge badge-primary">15 pts</span> Pseudo long 3</a>
    <a href="#" class="list-group-item list-group-item-danger"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="badge badge-primary">10 pts</span> Pseudo long 4</a>
    <a href="#" class="list-group-item list-group-item-danger"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="badge badge-primary">3 pts</span> Morbi leo risus</a>
  </div>
  </div>
    </div>
		</div>
    <div id="modal-time" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Temps imparti écoulé</h4>
          </div>
          <div class="modal-body">
            <p>Vous n'avez pas trouvé le mot dans le temps imparti.</p>
			      <p>Aucun participant ne gagne de points sur cette partie.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          </div>
        </div>

      </div>
    </div>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="../node_modules/jquery/dist/jquery.min.js"><\/script>')</script>
		<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
		<script>
			$(document)
				.ready(function() {
					$("#modal").click(function() {
							$('.modal-content').modal('show');
						console.log('test');
					});
				})
			;
		</script>
	</body>
</html>
