	<div class="countDown">
		<div id="timeRemainDiv">
			<div class="time-title">
				<p>Temps restant :</p>
				<h3>1:30</h3>
			</div>
		</div>
		
	</div>
<h1>Bienvenue sur FootDraw <span id="instructions"></span></h1>
<div class="play">
	<button id="btn-play">Jouer !!</button>
</div>
<div class="tools">

	<input type="hidden" id="paint-color-value" value="#000">
	<input type="hidden" id="paint-size-value" value="3">

	<a nohref  data-size='3' style='background: #ccc' class="paint-size">Small</a>
	<a nohref  data-size='5'  style='background: #ccc' class="paint-size">Normal</a>
	<a nohref  data-size='7'  style='background: #ccc' class="paint-size">Large</a>
</div>
<canvas id="drawing" style="border:1px solid #EEEEEE;background:#fff;" width="990" height="220">
	Your browser needs to support canvas for this to work!1
</canvas>
<div>&nbsp;</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Chat Room</h3>
  </div>
  <div class="panel-body">
    <ul id="msg-list" class="list-group">

	</ul>
  </div>
  <div class="panel-footer">
  	<div class="input-group">
      <input type="text" class="form-control" id="msg">
      <div class="input-group-btn">
        <button type="button" class="btn btn-primary" id="send">Action</button>
      </div>
    </div>
  </div>
</div>
