.background-image{
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
}

.landpage-image{
    background-image: url('../img/splashScreen.jpg');
}

.ranking-image{
    background-image: url('../img/ranking.jpg');
}

.opacity-div {
opacity: 0.8;
margin-top:30px;
}

#canvas_container
{
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 15px;
    height: 100%;
    margin: 0px;
    overflow: hidden;
    width: 100%;

    /* this fixes the overflow:hidden in Chrome/Opera */
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.color-item {
    margin-top: 10px;
    height: 40px;
}

.color-wrap {
    z-index: 0;
}


.color-picker {
  padding-bottom: 5%;
  width: 10%;
}

li.list-group-item {
    color: #434a54;
}
