body {
  background-color: #DADADA;
}
body > .grid {
  height: 100%;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 450px;
}

.background-image{
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
}

.landpage-image{
    background-image: url('../img/splashScreen.jpg');
}

.ranking-image{
    background-image: url('../img/ranking.jpg');
}

.ui.divider {
  color : #ffffff;
}
